@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --bg-app: #222222;
  --bg-card: #292929;
  --bg-tube: #292929;
  
  --text-main: #D4D4D4;
  --font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}

body {
  background-color: var(--bg-app);
  color: #D4D4D4;
  font-family: var(--font-family);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100%;
  width: 100%;
}
